<h1><%= @article.title %></h1>

<p><%= @article.content %></p>


<%= link_to "All articles", articles_path %>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Delete an article", article_path(@article), method: :delete %>

